/*------------------------------------------------------------------
MAIN CSS [Table of contents]

1. Common CSS
2. Navbar CSS
3. Header CSS
  3.1. Slider CSS
4. About CSS
5. Achievement CSS
6. Service CSS
7. Why Us CSS
8. Team CSS
9. Skills CSS
10. Team CSS
11. Portfolio CSS
12. Testmonial CSS
13. Pricing CSS
15. 
16. Client CSS
17. Contact Us CSS
18. Newsletter CSS
19. Footer CSS
20. Back To Top CSS
-------------------------------------------------------------------*/

/***** Common CSS *****/
#wtsp {
  /* display: block !important; */
  font-size: 22px;
  color: rgb(254, 253, 253);
  background: none;
}

.teammm {
  margin-left: 12%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
  webkit-tap-highlight-color: #222222;
}

.mt20 {
  margin-top: 20px
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px
}

.mt50 {
  margin-top: 50px
}

.mt80 {
  margin-top: 80px
}

.mb80 {
  margin-bottom: 80px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr15 {
  margin-right: 15px;
}

.section-heading,
.faq-heading {
  text-transform: capitalize;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #87509C;
}

a:hover,
a:focus {
  color: #87509C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
}

h1 {
  line-height: 1.3;
}

h2 {
  line-height: 1.4;
  letter-spacing: 3px;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}

.bg-white {
  background-color: #fff;
}

.bd-awhite {
  background: #F4F7F7;
}

.bg-dark {
  background-color: #222222;
  color: white;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 100px 0;
}

section .section-header {
  max-width: 600px;
  margin: 0 auto;
}

section .section-header i {
  color: rgba(0, 0, 0, 0.3);
  font-size: 32px;
  margin-bottom: 10px;
}

section .section-header h2 {
  color: #555;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

section .section-header p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

section hr {
  background: #73458e none repeat scroll 0 0;
  border-color: #87509c;
  border-radius: 4px;
  border-width: 2px;
  height: 2px;
  margin-bottom: 19px;
  margin-top: 8px;
  max-width: 50px;
  opacity: 0.3;
  transition: all 0.35s ease 0s;
}

section:hover hr {
  max-width: 95px;
}

.bg-whitehr hr {
  border-color: #6C15A3;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.btn.btn-default {
  background: transparent;
  padding: 10px 20px;
  border-image: -moz-linear-gradient(-29deg, #983C80 0%, #87509c 100%) 1 1 1 1;
  border-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%) 1 1 1 1;
  border-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%) 1 1 1 1;
  border-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%) 1 1 1 1;
  border-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%) 1 1 1 1;
  border-style: solid;
  border-width: 2px;
  color: #87509C;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.btn-default i {
  margin-left: 5px;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default.focus,
.btn.btn-default:active,
.btn.btn-default.active,
.open>.dropdown-toggle.btn-default {
  color: #fff;
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
}

.btn.btn-default:active,
.btn.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-image: none;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #87509C;
}

::selection {
  color: white;
  text-shadow: none;
  background: #87509C;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

/***** Navbar CSS *****/

.navbar-default {
  background-color: transparent;
  border: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.affix-top .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px 15px;
}

.navbar-default.affix {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  border-color: rgba(108, 21, 163, 0.2);
  border-bottom: 1px solid rgba(108, 21, 163, 0.2);
  opacity: 1;
  padding: 20px 0;
}

.navbar-default .navbar-header .navbar-brand {
  color: #6C15A3;
  font-weight: 700;
  text-transform: uppercase;
  background: url('../images/logo.png');
  filter: invert(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 130px;
  margin-top: 0px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}

.navbar-right {
  padding-top: 10px;
}

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.navbar-default .nav>li>a {
  padding: 5px 14px;
}

.navbar-default .nav>li:last-child>a {
  padding-right: 0;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.navbar-default.affix .nav>li>a,
.navbar-default.affix .nav>li>a:focus {
  color: #fff;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #fff;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #fff !important;
  background-color: transparent;
  border-radius: 0;
  position: relative;
}

.navbar-default .nav>li.active>a::after,
.navbar-default .nav>li>a:hover::after {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  content: "";
  height: 3px;
  left: 15px;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out 0s;
  width: 18px;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #f4f7f7;
  color: #87509C;
}

/***** Header CSS *****/

header {
  width: 100%;
  background-image: url('../images/bg-1.jpg');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
  height: 100%;
  display: block;
  overflow-y: hidden;
  position: relative;
}

.bg_overlay {
  background-image: -moz-linear-gradient(-29deg, #000 0px, #000 100%);
  background-image: -moz-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -webkit-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -ms-linear-gradient(-29deg, #000 0, #000 100%);
  bottom: 0;
  left: 0;
  opacity: 0.75;
  position: absolute;
  right: 0;
  top: 0;
}

.slide-content .bg_overlay {
  z-index: 1;
  opacity: 0.55;
}

header .header-content {
  height: 100vh;
  max-height: 750px;
  position: relative;
  text-align: center;
  padding: 150px 15px 0;
  width: 100%;
}

.header-content-inner {
  display: block;
  overflow: hidden;
  position: relative;
  top: 32%;
}

.header-content-inner h1.heder-heading {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

.header-content-inner p {
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto 0;
  max-width: 500px;
}

.custom_btn {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  padding: 18px 48px;
  color: #fff;
  border: none !important;
  font-size: 18px;
  margin-top: 30px;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.custom_btn:hover,
.custom_btn:active,
.custom_btn:focus,
.custom_btn.active {
  padding: 18px 60px;
  color: #fff;
}

.default_color:hover {
  color: #fff;
}

.text-write {
  position: relative;
  text-align: center;
}

.text-write h1 {
  font-weight: 600;
}

/** Slider CSS **/

#header .carousel {
  width: 100%;
  background-color: #000;
  height: 100%;
}

#header .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#header .carousel-fade .carousel-inner .item,
#header .carousel-fade .carousel-inner .active.left,
#header .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

#header .carousel-fade .carousel-inner .active,
#header .carousel-fade .carousel-inner .next.left,
#header .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

#header .carousel-fade .carousel-inner .next,
#header .carousel-fade .carousel-inner .prev,
#header .carousel-fade .carousel-inner .active.left,
#header .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#header .carousel-fade .carousel-indicators li {
  width: 30px;
  border-color: #fff;
}

#header .carousel-fade .carousel-indicators li.active {
  background: #87509C;
}

#header .carousel-fade .carousel-control .glyphicon {
  font-size: 6rem;
}

#header .carousel,
#header .carousel-inner,
#header .carousel-inner .item {
  height: 100%;
}

#header .stopfade {
  opacity: 0.5;
}

#header .slide-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#header .slide-content video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#header .slide-content img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#header .slide-content video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

#header .door {
  font-family: Revista-Black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#header .door .title {
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 11rem;
}

#header .door .description {
  border-top: 1px solid #fff;
  margin-top: 15px;
  font-size: 4rem;
}

#header .door .custom_btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff !important;
}

#header .door .custom_btn:hover {
  background: #73458E;
  color: #fff;
  border: 1px solid #fff !important;
}

/****** About CSS *****/

.about-des {
  padding: 0 15px;
}

.about-des h3 {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 28px;
  text-transform: capitalize;
}

.about-des p {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: justify;
}

.about-image img {
  width: 100%
}

/**** Why Us CSS ****/

#why_us {
  background: #fafafa;
  padding: 0;
}

#why_us .why-us-img {
  height: 650px;
  position: relative;
  background-image: url('../images/gen-mic3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  bottom: 0;
  right: 0;
  top: 130px;
}

#why_us .why-us-img .c_cover {
  background-image: -moz-linear-gradient(-29deg, #000 0px, #000 100%);
  background-image: -moz-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -webkit-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -ms-linear-gradient(-29deg, #000 0, #000 100%);
  bottom: 0;
  left: 0;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 0;
}

#why_us .why-us-img .video-btn.popup-youtube {
  border: 4px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  height: 80px;
  width: 80px;
  line-height: 70px;
  padding-left: 24px;
  position: absolute;
  left: 43%;
  top: 43%;
}

#why_us .why-us-img .video-btn.popup-youtube:hover {
  border-color: #ddd;
  color: #ddd;
  background: rgba(135, 80, 156, .5);
}

#why_us .why-us-des {
  padding: 50px 15px 10px 50px;
}

.why-us-des h2 {
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.why-us-des h2::after {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  bottom: -10px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 50px;
}

.why-us-des p {
  margin-bottom: 30px;
}

.why-us-des-item {
  padding: 0;
}

.why-us-des-item i {
  color: #999;
  background-clip: text;
  font-size: 32px;
}

.why-us-des-item h4 {
  color: #555;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

/***** Service CSS *****/

#service {
  background: #f1f1f1;
}

.service-box {
  border: 1px solid rgba(135, 80, 156, .1);
  padding: 25px 20px;
  margin-bottom: 30px;
  background: #F1F1F1;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.service-wrap .service-box:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 9;
  content: "";
  height: 0px;
  position: absolute;
  width: 0px;
  border-left: 1px solid #8f458d;
  border-top: 1px solid #8f458d;
  visibility: hidden;
}

.service-wrap .service-box:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  z-index: 9;
  content: "";
  height: 0px;
  position: absolute;
  width: 0px;
  border-top: 1px solid #8f458d;
  border-right: 1px solid #8f458d;
  visibility: hidden;
}

.service-wrap .box-content:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  z-index: 9;
  content: "";
  height: 0px;
  position: absolute;
  width: 0px;
  border-left: 1px solid #8f458d;
  border-bottom: 1px solid #8f458d;
  visibility: hidden;
}

.service-wrap .box-content:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  z-index: 9;
  content: "";
  height: 0px;
  position: absolute;
  width: 0px;
  border-right: 1px solid #8f458d;
  border-bottom: 1px solid #8f458d;
  visibility: hidden;
}

.service-wrap:hover .service-box:before,
.service-wrap:hover .service-box:after,
.service-wrap:hover .box-content:before,
.service-wrap:hover .box-content:after {
  visibility: visible;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box:hover {
  background: #fff
}

.service-box .service-icon {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.service-box .service-icon i {
  font-size: 32px;
  color: #999;
}

.service-box:hover .service-icon i {
  font-size: 32px;
  color: #8F458D;
}

.service-box .box-content h3 {
  color: #555;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: capitalize;
}

.service-box .box-content p {
  margin-bottom: 15px;
}

.service-box .box-content a {
  color: #555;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}

.service-box .box-content a:hover {
  color: #87509C;
  text-decoration: none;
}

.service-box .box-content a i {
  margin-left: 3px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.service-box .box-content a:hover i {
  margin-left: 8px;
}

/***** Achievement CSS *****/

#achievement {
  position: relative;
  background-attachment: fixed;
  background-image: url('../images/achieve.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  bottom: 0;
  left: 0;
  top: 0;
}

#achievement .c_cover {
  background-image: -moz-linear-gradient(-29deg, #000 0px, #000 100%);
  background-image: -moz-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -webkit-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -ms-linear-gradient(-29deg, #000 0, #000 100%);
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

.achievement-des {
  color: #fff;
  margin-bottom: 50px;
}

.achievement-des h2 {
  text-transform: uppercase;
  font-weight: 700;
}

.achievement-des h4 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
}

.achievement-des p {
  margin-bottom: 30px;
}

.achievement-des .btn.btn-default {
  border-color: #fff;
  border-image: none;
  border-radius: 0;
  color: #fff;
}

.achievement-des .btn.btn-default i {
  margin-left: 5px;
}

.counter-div {
  width: 180px;
  height: 160px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.counter-div p {
  margin-bottom: 0;
}

.counter-div p.cc-icon {
  padding: 12px 0;
}

.counter-div p.cc-icon i {
  color: #fff !important;
  font-size: 32px;
  margin-bottom: 5px;
}

.counter-div h4 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px;
}

.counter-div strong {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

/**** Team CSS ****/

#team {
  background: #fff;
}

.our-team {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.our-team:hover {
  border: 1px solid #87509C;
}

.our-team img {
  max-width: 400px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.member-des {
  display: block;
  overflow: hidden;
  padding-bottom: 0;
}

.member-des h3 {
  color: #555;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.member-des h4 {
  color: #444;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}

.member-des p {
  margin-bottom: 20px;
}

ul.team-social {
  list-style: none;
  width: 185px;
  display: block;
  height: 40px;
  padding-left: 0;
  margin: 0 auto;
}

ul.team-social li {
  float: left;
}

ul.team-social li a {
  background: #d3d3d3;
  padding: 10px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  line-height: 18px;
  display: block;
  color: #fff;
  border-radius: 50px;
}

ul.team-social li a:hover {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
}

/**** Skills CSS ****/

#skill {
  background: #F1F1F1;
}

.our-skill {
  margin-bottom: 30px;
  border-radius: 2px;
}

.skill-des {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  width: 200px;
}

.skill-des h3 {
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

/**** Portfolio CSS ****/

#portfolio {
  background: #fff;
}

.btn-default.filter-button {
  font-size: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  text-align: center;
  color: #555;
  margin-bottom: 30px;
  background: #f1f1f1;
  padding: 6px 12px;
}

.btn-default.filter-button:hover {
  font-size: 16px;
  border: 1px solid #884E99;
  border-radius: 0;
  text-align: center;
  color: #fff;
  background-color: #d4b6e3;

}

.filter-button-active {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  color: #fff;
  border-color: #87509C;
  margin-bottom: 30px;
  font-size: 16px;
  border-radius: 0;
  text-align: center;
}

.filter-button-active:hover,
.filter-button-active.focus,
.filter-button-active:focus {
  color: #fff;
}

.gallery_product {
  margin-bottom: 30px;
}

.gallery_product img {
  width: 100%;
  display: block;
}

.gallery_product h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #555;
  margin-bottom: 0;
}

#portfolio .btn-wrap {
  margin: 30px auto;
  width: 250px;
  z-index: 100;
}

.mfp-no-margins img.mfp-img {
  padding: 0;
}

.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

.mfp-no-margins .mfp-container {
  padding: 0;
}

/***** Testmonial CSS *****/

#testimonial {
  background: #F1F1F1;
}

.client-des {
  width: 100%;
  display: block;
}

.client-img {
  width: 100px;
  float: left;
}

.client-img img {
  border-radius: 50%;
}

.client-text {
  background: #fff none repeat scroll 0 0;
  color: #555;
  padding: 15px;
  position: relative;
  margin-left: 120px;
  box-shadow: 0 0 4px 1px rgba(143, 69, 141, 0.1);
  border-radius: 4px;
}

.client-text::after {
  border-color: transparent rgba(255, 255, 255, 1) transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  content: "";
  display: block;
  height: 0;
  left: 0;
  margin-left: -9px;
  position: absolute;
  top: 20px;
  width: 0;
}

.client-text p {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 15px;
}

.client-text h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  color: #555;
  margin-bottom: 5px;
  margin-top: 0;
}

.client-text h4 {
  color: #555;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

/***** Pricing CSS *****/

#pricing {
  background: #fff;
}

.panel-package {
  color: #555;
  background: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.panel-package:hover {
  border-image: -moz-linear-gradient(-29deg, #983C80 0%, #87509c 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%) 2 2 2 2;
  border-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%) 2 2 2 2;
  border-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%) 2 2 2 2;
}

.panel-package .panel-heading {
  padding: 15px;
  text-transform: uppercase;
}

.panel-package .panel-heading h3 {
  font-weight: 700;
}

.panel-package .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}

.panel-package .panel-body {
  background: transparent;
  padding: 0;
  margin: 0px;
}

.panel-package .panel-body p {
  font-size: 20px;
}

.panel-package ul.list-group {
  background: transparent;
}

.panel-package .list-group-item {
  border: none;
  background: transparent;
}

.panel-package .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panel-package .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.panel-package .panel-footer {
  background: transparent;
  padding: 25px 0 35px 0;
}

.panel-package.panel-standard {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  border-image: -moz-linear-gradient(-29deg, #983C80 0%, #87509c 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%) 2 2 2 2;
  border-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%) 2 2 2 2;
  border-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%) 2 2 2 2;
  color: #fff;
}

.panel-package.panel-standard:hover {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #712B91 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #712B91 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #712B91 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #712B91 100%);
  border-image: -moz-linear-gradient(-29deg, #983C80 0%, #712B91 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #983C80 0px, #712B91 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #983C80 0, #712B91 100%) 2 2 2 2;
  border-image: -webkit-linear-gradient(-29deg, #983C80 0, #712B91 100%) 2 2 2 2;
  border-image: -ms-linear-gradient(-29deg, #983C80 0, #712B91 100%) 2 2 2 2;
}

.panel-package.panel-standard .btn.btn-default {
  color: #fff;
  border-image: -moz-linear-gradient(-29deg, #fff 0%, #ddd 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #fff 0px, #ddd 100%) 2 2 2 2;
  border-image: -moz-linear-gradient(-29deg, #fff 0, #ddd 100%) 2 2 2 2;
  border-image: -webkit-linear-gradient(-29deg, #fff 0, #ddd 100%) 2 2 2 2;
  border-image: -ms-linear-gradient(-29deg, #fff 0, #ddd 100%) 2 2 2 2;
}



/***** Client CSS*****/

#client {
  background-attachment: fixed;
  background-image: url("../images/client-logo/bg-2.webp");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 200px;
}

#client .c_cover {
  background-image: -moz-linear-gradient(-29deg, #000 0px, #000 100%);
  background-image: -moz-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -webkit-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -ms-linear-gradient(-29deg, #000 0, #000 100%);
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

#client .carousel {
  margin-bottom: 0;
  padding: 0 40px 0 40px;
}

#client .carousel .item .thumbnail {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #712B91 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #712B91 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #712B91 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #712B91 100%);
  border-radius: 0;
  border-color: #fff;
}

#client .carousel .item .thumbnail:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  top: 30%;
}

.carousel-control.right {
  right: -12px;
}

/***** Contact Us CSS *****/

#contact {
  background: #f1f1f1;
}

.contact-info {
  background: #fff none repeat scroll 0 0;
  margin-bottom: 15px;
  padding: 16px 15px;
  box-shadow: 0 0 4px 1px rgba(143, 69, 141, 0.1);
}

.contact-info i {
  color: #8f458d;
  font-size: 32px;
  margin-bottom: 6px;
}

.contact-info p {
  margin-bottom: 0;
}

.contact-form .form-control {
  background: #fff;
  height: 55px;
  box-shadow: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  border-radius: 0;
  box-shadow: 0 0 4px 1px rgba(143, 69, 141, 0.1);
}

.contact-form .form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(135, 80, 156, 0.6);
}

.form-control::-moz-placeholder {
  color: #666;
}

.form-control:-moz-placeholder {
  color: #666;
}

.form-control::-webkit-input-placeholder {
  color: #666;
}

.form-control:-ms-input-placeholder {
  color: #666;
}

.contact-form textarea.form-control {
  min-height: 107px;
}

.contact-form .custom_btn {
  margin-top: 0;
  width: 100%;
  border-radius: 0;
}

/***** Newsletter CSS *****/

#newsletter {
  background-attachment: fixed;
  background-image: url("../images/bg-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  min-height: 200px;
  position: relative;
}

#newsletter .c_cover {
  background-image: -moz-linear-gradient(-29deg, #000 0px, #000 100%);
  background-image: -moz-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -webkit-linear-gradient(-29deg, #000 0, #000 100%);
  background-image: -ms-linear-gradient(-29deg, #000 0, #000 100%);
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

section#newsletter .section-header h2 {
  color: #fff;
}

section#newsletter .section-header i {
  color: rgba(255, 255, 255, .5);
}

section#newsletter .section-header hr {
  border-color: #fff;
  background-color: #fff;
}

section#newsletter .section-header p {
  color: #fff;
}

#newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

#newsletter .single .input-group::before {
  color: #fff;
  content: "\f003";
  font-family: "FontAwesome";
  font-size: 24px;
  left: 20px;
  position: absolute;
  top: 7px;
  z-index: 100;
}

#newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-color: transparent;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding-left: 60px;
}

#newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

#newsletter .form-control::-moz-placeholder {
  color: #fff;
}

#newsletter .form-control:-moz-placeholder {
  color: #fff;
}

#newsletter .form-control::-webkit-input-placeholder {
  color: #fff;
}

#newsletter .form-control:-ms-input-placeholder {
  color: #fff;
}

#newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 6px 6px 0;
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  color: #fff;
}

/***** Footer CSS *****/

footer {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  padding: 40px 0;
}

ul.social-touch {
  list-style: none;
  width: 1015px;
  display: block;
  overflow: hidden;
  padding-left: 0;
  margin: 0 auto;
}

ul.social-touch li {
  float: left;
  width: 145px;
}

ul.social-touch li a {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

ul.social-touch li a:hover {
  text-decoration: none;
}

ul.social-touch li a.facebook:hover {
  color: #4867AA;
}

ul.social-touch li a.twitter:hover {
  color: #1DA1F2;
}

ul.social-touch li a.google-plus:hover {
  color: #DE5245;
}

ul.social-touch li a.linkedin:hover {
  color: #0177B5;
}

ul.social-touch li a.behance:hover {
  color: #005CFF;
}

ul.social-touch li a.dribbble:hover {
  color: #DD3E7B;
}

ul.social-touch li a.gitHub:hover {
  color: #FFC09F;
}

.copy-right {
  color: #fff;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 20px;
}

/***** Back To Top CSS *****/

.back-to-top {
  background-image: -moz-linear-gradient(-29deg, #983C80 0px, #87509c 100%);
  background-image: -moz-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -webkit-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  background-image: -ms-linear-gradient(-29deg, #983C80 0, #87509C 100%);
  border: medium none;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 0 20px -10px rgba(221, 221, 221, 0.8);
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 18px;
  height: 40px;
  padding: 7px 14px;
  position: fixed;
  right: 20px;
  width: 40px;
}

.back-to-top:hover,
.back-to-top:focus {
  background: #7B1CA7;
}

/**************************
        End Of CSS
**************************/